{% extends "layout.html" %}
{% load static %}
{% block body %}
<div class="container mt-5">
    <h1 style=" text-align:center;color:rgb(240, 95, 11);font-size: 40px;"><i>Welcome To Our Tuition_Web</i></h1>
    
    <h2 style="color:rgb(89, 43, 226)">Notice for Teacher:</h2>
    <h5 style="color:rgb(1, 1, 14);font-size: 20px;"><blockquote cite="http://www.worldwildlife.org/who/index.html">

        First, Every teacher must be fill up the teacher registration form.
        And also every teacher must upload his /her cv to upload file option
        
         </blockquote>
    
        </br>
    
    </h5>
    <h2 style="color:rgb(177, 43, 226)">Notice for Guardian:</h2>
    <h5 style="color:rgb(1, 1, 14);font-size: 20px;"><blockquote cite="http://www.worldwildlife.org/who/index.html">

        Every guardian must be fill up guardian  registration form
        
         </blockquote>
    
        </br>
    
    </h5>
    <h2 style="color:rgb(39, 40, 39)">Description:</h2>
    <h5 style="color:rgb(1, 1, 14);font-size: 20px;"><blockquote cite="http://www.worldwildlife.org/who/index.html">

        On our website, Teachers can find out students to their liking, 
        Also guardians can find out teachers to their liking,
        If you find out teacher/student, Then contact us and we will 
        provide the teacher/student,
        
         </blockquote>
    
        </br>
    
    </h5>

   
   
</div>
{% endblock %}