


{% block content %}  
   
        <div class="container">

          <!--Simple Form-->
          <h2 class="my-4">Add a new movie script</h2>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <input type="file" name="upload" accept=".doc, .docx, .pdf, .txt">
                <br>
                <button class="btn btn-dark my-4" type="submit">Submit</button>
          </form>

          <!--See File Uploaded-->
          <h2 class="my-4">Movie Script</h2>
          <div class="row">
            {% if uploaded_file_url %}
            <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
              <p>Uploaded to:<a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
              <a class="btn btn-dark my-4" href="/">Return to Homepage</a>
            {% else %}
            <p>No movies scripts added.</p>
            {% endif %}
          </div>

        </div>
    

{% endblock %}